<div class="pure-menu pure-menu-open pure-menu-horizontal">
	<ul>
		<a href="/" class="pure-menu-heading">thou hast been : dash : <span class="profile-user-email">{{{ user.local.email }}} {{{user.facebook.email}}} {{{user.facebook.name}}} {{{user.google.email}}} {{{user.google.name}}}</span></a>
		<a class="pure-menu-heading batman-link" href="/logout">logout</a>
		<li class="pure-menu-selected active"><a href="/dashboard"> dash home </a></li>
		<li><a href="#"> map story </a></li>
	</ul>
</div>
<div class="pure-g post-login-headers">
	<div class="pure-u-1-2">
		<p><small>hither, thou will find tools to look back at whence thou hast visited, see past photos and whence they wast taken, and share thy stories. </small></p>
	</div>
	<div class="pure-u-1-2">
		<p> :-) </p>
	</div>
</div>

<div class="pure-g-r">
	<div class="pure-u-2-5">
		Date range control
	</div>
	<div class="pure-u-2-5">
		Other
	</div>
</div>

<div class="pure-g">
	<div class="pure-u-1-2">
		<div id="map"></div>
		<a href="#" id="geolocate-button"><i class="fa fa-lg fa-crosshairs"></i></a>
	</div>
	<div class="pure-u-1-2">
		<div id="user-info">
			User information:
			<ul>
				<li> Local name: {{{ user.local.realname }}} </li>
				<li> FB Name: {{{ user.facebook.name}}} </li>
				<li> G+ Name: {{{ user.google.name }}} </li>
				<li> Email: {{{ user.local.email }}} </li>
				<li> FB Email: {{{ user.facebook.email }}} </li>
				<li> G+ Email: {{{ user.google.email }}} </li>
				<li> Created: {{{ user.local.created }}} </li>
				<li> Modified: {{{ user.local.modified }}} </li>
				<li> Valid: {{{ user.local.valid }}} </li>
			</ul>
		</div>
	</div>
</div>

<div class="pure-g">
	<div class="pure-u-1-2">

	</div>
	<div class="pure-u-1-2">

	</div>
</div>


<script type="text/javascript">
	L.mapbox.accessToken = 'pk.eyJ1IjoidGhlZG91Z2xlbnoiLCJhIjoiMm41Z0dTTSJ9.ydxDlbJykhYoLbZC3x42eA';

	var map = L.mapbox.map('map', 'thedouglenz.jc92597m').locate();
	var youLayer = L.mapbox.featureLayer().addTo(map);
	var geolocate = document.getElementById('geolocate-button');
	if(!navigator.geolocation) {
		geolocate.innerHTML = '';
	} else {
		geolocate.onclick = function(e) {
			e.preventDefault();
			e.stopPropagation();
			map.locate();
		}
	}
	map.on('locationfound', function(e) {
	    map.fitBounds(e.bounds);

	    youLayer.setGeoJSON({
	        type: 'Feature',
	        geometry: {
	            type: 'Point',
	            coordinates: [e.latlng.lng, e.latlng.lat]
	        },
	        properties: {
	            'title': 'You are here',
	            'marker-color': '#FF3030',
	            'marker-symbol': 'star'
	        }
	    });

	    // And hide the geolocation button
	    geolocate.parentNode.removeChild(geolocate);
	});
</script>